{% extends "base.html" %}
{% block main %}

<form class="form-inline">
<div class="form-container">
   <div align="center"><h1>备忘详细信息</h1></div>
   <div class="form-group">类别&nbsp;
        <select class="form-control" name="note_type">
          <option value="01">服务器登录</option>
          <option value="02">阿里云用户</option>
          <option value="03">淘宝</option>
          <option value="04">学习网站</option>
          <option value="05">医院网络管理</option>
          <option value="06">重要配置</option>
          <option value="07">其他</option>
        </select>
   </div>
    <script language= JavaScript>
     var opt= "{{ posts.note_type }}";//根据后台传值来动态改变它
     document.getElementsByName("note_type")[0].value=opt;
    </script>
    <div><input type="hidden" name="note_id" value={{ posts.note_id }}></div>
  <div class="form-group">标签&nbsp;
     <input  type="text" class="form-control"  placeholder="输入标签" name="note_name" value={{ posts.note_name }}>
    </div>
  <div class="form-group">地址&nbsp;
      <input  type="text" class="form-control"  placeholder="输入地址" name="note_addr" value={{ posts.note_addr }}>
    </div>
  <div class="form-group">用户&nbsp;
      <input  type="text" class="form-control"  placeholder="输入用户名" name="note_username" value={{ posts.note_username }}>
    </div>
  <div class="form-group">密码&nbsp;
      <input  type="text" class="form-control"  placeholder="输入密码" name="note_password" value={{ posts.note_password }}>
    </div>
  <div class="form-group">备注&nbsp;
      <textarea  rows="5" placeholder="输入备注"  cols="22" name ='note_mark' class="form-control">{{ posts.note_mark }}</textarea>
    </div>

        <div align="center">
            <a class="btn btn-success"  href={{ url_for("show") }}><i class="fa fa-repeat"></i> 返回</a>
        </div>

</div>
</form>
{% endblock %}